@font-face {
    font-family: "headerFont";
    src: url("./RubikMoonrocks-Regular.ttf");
}
.body{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section{
    display: flex;
    justify-content: space-evenly;
}
a:visited{
    color: "purple";
}
a:hover{
    color: #00F;
    font-weight: bold;
}
a:link{
    color:#00F;
}
a:active{
    color:#0F0
}
iframe{
    width: 100vw;
    height: 75vh;
}
p{
    font-family: "";
    text-align: "justify";
}
h1, h3{
    font-family: "headerFont";
    font-weight: lighter;
}
h1{
    color: #F00;
    font-size: 35px;
}
h3{
    color: #00F;
    font-size: 20px;
}
